<!DOCTYPE html>
<html>
  <head>
    <title>SapoSapuri</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag "application", media: 'all' %>
    <%= javascript_pack_tag "application" %>
    <% if Rails.env.production? %>
      <!-- Google tag (gtag.js) -->
      <script async src="https://www.googletagmanager.com/gtag/js?id=G-2FJ7449S2L"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-2FJ7449S2L');
      </script>
    <% end %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
